
.padre{
    display: flex;
    flex-direction: column;
    margin:100px;
    
    border: gray 3px solid;
    


}
.imagen{
   justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 10%;
   
}
h2{
   padding: 10px;
   text-align: center;
   opacity: 0.5;

}
.input{
    margin: auto;
    width: 20%;
    height: 45px;
    justify-content: center;
   border-width: 2px;
   border-color: rgb(219, 218, 218);
    
}
.one{
    border-radius: 5px 5px 0px 0px;
    opacity: 0.5;
    
}
.dos{
    border-radius: 0px 0px 5px 5px;
    opacity: 0.5;

}
.button{
   
    margin: auto;
    margin-top: 15px;
    
    width: 21%;
    height: 50px;
    justify-content: center;
    background-color:rgb(22, 22, 87);
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}
.buttondos{
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
    width: 15%;
   
    
    border:rgb(148, 146, 146) 1.5px solid;
    border-radius: 145px 145px 145px;
    opacity: 0.5;
    
    
}